<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-wrapper">

	<!-- MENU SIDEBAR-->
	<aside class="menu-sidebar d-none d-lg-block">
		<div class="menu-sidebar-content js-scrollbar1">
			<nav class="navbar-sidebar">
				<ul class="list-unstyled navbar-list">
					<li>
						<a href="#">Theme Park</a>
					</li>
					<li>
						<a href="#">Water Park</a>
					</li>
					<li>
						<a href="#">Museum</a>
					</li>
					<li>
						<a href="#">Amusement Park</a>
					</li>
					<li>
						<a href="#">Aquariums</a>
					</li>
					<li>
						<a href="#">Aquariums Amusement Parks and Theme Parks</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->
		<header class="header-desktop">
			<div class="section-content section-content-p30">
				<div class="container-fluid">
					<div class="header-wrap">
						<app-search></app-search>
					</div>
					<div class="account-wrap"></div>
				</div>
			</div>
		</header>

		<!-- MAIN CONTENT-->
		<div class="tr-job-posted section-padding">
			<div class="container">
				<div class="job-tab text-center">
					<div class="tab-content text-left">
						<div role="tabpanel" class="tab-pane fade active show" id="hot-jobs">
							<div class="row">
								<div *ngFor="let activity of activities" class="col-sm-6 col-md-3">
									<div class="job-item">
										<div class="item-overlay">
											<div class="job-info">
												<span class="tr-title">
													<a href="#">{{activity.name}}</a>
												</span>
												<ul class="tr-list job-meta">
													<li><i class="fa fa-map-signs" aria-hidden="true"></i>{{activity.city}}</li>
													<li>Level : <i class="fa fa-star" aria-hidden="true"></i>{{activity.levelAccessibility}}/5</li>
												</ul>
												<a href={{activity.link}} class="btn btn-success">VISITEZ</a>
											</div>
										</div>
										<div class="job-info">
											<div class="company-logo">
												<img src="{{activity.imageLink}}" alt="images" class="img-fluid">
											</div>
											<span class="tr-title">
												<a href="#">{{activity.name}}</a>
											</span>
											<ul class="tr-list job-meta">
												<li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>{{activity.city}}</li>
												<li>Level : <span><i class="fa fa-star" aria-hidden="true"></i></span>{{activity.levelAccessibility}}/5</li>
											</ul>
										</div>
									</div>
								</div>
							</div><!-- /.row -->
						</div><!-- /.tab-pane -->
					</div>
				</div><!-- /.job-tab -->
			</div><!-- /.container -->
		</div>

		<footer>
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</footer>
	</div>
</div>